<!DOCTYPE html>

<style>
.recordButton {
	background-color: #4CAF50;
	color: white;
	text-align: center;
}

.fancyForm{
    width: 750px;
    padding: 30px;
    background: #f9f9f9;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

.fancyForm h2{
    background: #4D4D4D;
    text-transform: uppercase;
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
<!--.fancyForm input[type="text"], -->
.fancyForm textarea,
.fancyForm select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.fancyForm textarea{
    resize:none;
    overflow: hidden;
}

.sub1{
	width: 50%;
	float: left;
}

.sub2{
	width: 50%;
	float: right;
}

.testLaunch {
	background-color: #ff3300;
	color: white;
	text-align: center;
}

.estBag {
	background-color: #4CAF50;
	color: white;
	text-align: center;
}
</style>

<div class="fancyForm">
	<div align="center">
		<form onsubmit="return false">
				Test Name:<br>
				<input type="text" name="test" id="inputTestName" />
				<br><br>
			<div class="sub1">
				Launch Files (comma separated):<br>
				Example: <i>package_name file.launch, </i>
				<textarea name="launch" id="inputLaunch" cols="35" rows="7"></textarea>
				<br>
				<button type="button" id="launchButton" value="testLaunchfiles" onclick="testLaunch()">Test .launch files</button>
				<br><br>
			</div>
			<div class="sub2">
				Topic List (comma separated):<br>
				Example: <i>tf, pose_multi </i>
				<textarea name="topic" id="inputTopic" cols="35" rows="7"></textarea>
				<br>
				<button type="button" disabled class="testBag" value="estimateBag">Estimate Bag Size</button>
				<br><br>
			</div>
			<!-- Currently commented out because run test participant does not use this field
			<br>
			List of IDs (comma separated):<br>
			<textarea name="IDs" cols="35" id="inputNames" rows="7"></textarea>
			<br> 
			-->
			<button type="button" onclick="submitForm()" id="submitButton"> Submit Test </button>
		</form>
<script>  

  function testLaunch(){
	launchFiles = document.getElementById('inputLaunch').value;
	url = "/testLaunch?files="+launchFiles;
	$.get(url, function(data){
		if(data.err){
			console.log(data.which+" failed");
			console.log("Error: "+data.err);
			document.getElementById('launchButton').innerHTML = "Launch failed";
			document.getElementById('launchButton').style.backgroundColor = "#ff3300";
			}
		else{
			document.getElementById('launchButton').innerHTML = "Succeeded!";
			document.getElementById('launchButton').style.backgroundColor = "#4CAF50";
			}
		})
	}
	
  function submitForm(){
	testName = document.getElementById('inputTestName').value;
	launchFiles = document.getElementById('inputLaunch').value;
	topicList = document.getElementById('inputTopic').value;
	url = "/submitTest?name="+testName+"&launch="+launchFiles+"&topics="+topicList;
	$.get(url, function(data){
		console.log(data);
		console.log(url);
		})
	}
</script>
	</div>
</div>

</html>
