<h1>Test Configuration</h1>
<form>
	Name of Robot:<br>
	<input type="text" name="robot" id=inputRobotName" />
	<br>
	Name of Test:<br>
	<input type="text" name="test" id=inputTestName" />
	<br>
	Launch Files (One per line):<br>
	<textarea name="launch" cols="25" rows="5"></textarea>
	<br>
	Topic List (One per line):<br>
	<textarea name="topic" cols="25" rows="5"></textarea>
	<br>
	List of IDs (one per line):<br>
	<textarea name="IDs" cols="25" rows="5"></textarea>
	<input type="submit" value="Submit">
</form>
