<h1>ROS Test Controller</h1>
<script>
  url = "/rosStartup"
  $.get(url, function(data){
    console.log(data);
  })
</script>

<form>
  Test Name:<br>
  <input type="text" name="testName" id="testInput" />
  <button type="button" onclick="initialize()" id="initializeButton">Initialize Test</button>
</form>
<script>
  var initialized = 0;
  function initialize(){
    if(initialized){
      url = "/shutdown?test="+test;
     };
  test = document.getElementById('testInput').value;
  url = "/initialize?test="+test;
  initialized = 1;
  document.getElementById('initializeButton').innerHTML = "Initialized";
  $.get(url, function(data){
    console.log(data);
  })
}
</script>
	
<hr>
<form>
  Full Name:<br>
  <input type="text" name="name" id="inputName" />
  <button type="button" onclick="record()" id="theButton"> &#9899 Record Bag</button>
</form>

<script>
  var recording = 0;
  function record(){
    if(recording){
      url = "/kill"
      document.getElementById('theButton').innerHTML = " &#9899 Record Bag";
      recording  = 0;
    }
    else{
      recording = 1;
      url = "/ros?name=" + document.getElementById("inputName").value+"&test=" + document.getElementById('testInput').value;
      document.getElementById('theButton').innerHTML = "&#9632 Stop Recording";
      $.get(url, function(data){
        console.log(data);
      })
    }
  }

</script>
