
	<body onload="fetchIssues()">
		<div class="container">
		<div align="center">
			<h1>ROS Test Controller: Main Page</h1>
			<div class="jumbotron">
				<form action="createtestRobotInfo.html">
					<input type="submit" class="button"  value="New Test" />
				</form>
				<br><br>
				<form action="runtest.html">
					<input type="submit" class="button" value="Run Test" />
				</form>
		</div>
